# Arquivos e diretórios específicos do Flutter
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/app/build/
flutter_export_environment.sh

# Arquivos e diretórios específicos do Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
**/*.dart.js
**/*.dart.js.deps
**/*.dart.js.map
**/*.dart.js.tar.gz
**/*.dart.js.bootstrap
**/*.dart.js.part
**/*.info.json
**/*.dart.precompiled.js
**/*.dart2js.precompiled.js

# Artefatos do sistema de compilação
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
*.tmproj
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Arquivos de IDE e editores de texto
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
*.tmproj
*.tmproject
*.sublime-workspace

# Arquivos de teste
test_driver/*.screenshots
test_driver/*.png

# Pasta temporária do Flutter
flutter_*.pid.lock
